/* @RULES */

@import url(layout.css);
@import url(fonts.css);
@import url(formatting.css);
@import url(colours.css);

/* PAGE LAYOUT */

html {
    margin: 0;
    padding: 0;
    background: #e5e8ed;
}
body {
    margin: 0;
    padding: 0;
}
#main-header {
    margin: 0 0 1.5pc;
    padding: 0;
    background: #d6dae0;
    color: #e5e8ed;
    text-align: center;
}
#main-header a[href], #main-header * {
    color: inherit;
}
#main-header a[href]:hover {
    background: #7b7f85;
}
#main-header p {
    padding: .75pc .625pc;
    background: #a6acb1;
}
#main-header p + p {
    text-indent: 0;
}
#main-header p + p::before {
    content: none;
}
#main-footer {
    position: sticky;
    bottom: 0;
    margin: 0;
    border-top: thin #d6dae0 solid;
    padding: .75pc .625pc;
    height: 1.5pc;
    color: #a6acb1;
    background: #e5e8ed;
    text-align: center;
    white-space: no-wrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
@media print {
    #main-footer {
        display: none;
    }
}
#pagination-nav {
    font-weight: 400;
}
#pagination-nav a[href] {
    font-weight: 300;
}
#pagination-nav > span:not(:last-child)::after, #main-footer > span:not(:last-child)::after {
    font-weight: 300;
    content: " | ";
}
section.main {
    display: block;
    position: relative;
    margin: 1.5pc auto;
    padding: .75pc 1.25pc .75pc 12pc;
    max-width: 37.5pc;
}
aside.main {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    border-right: thin currentColor solid;
    padding: .75pc 1.25pc;
    width: 8.25pc;
    font-size: .9375pc;
    line-height: 1.125pc;
    text-align: right;
    overflow: auto;
}
aside.main p + p, p + p.chat {
    text-indent: 0;
}
aside.main p + p::before, p + p.chat::before {
    content: none;
}
aside.main hr::after {
    display: block;
    position: absolute;
    top: .75pc;
    left: 0;
    right: 0;
    height: 0;
    border-bottom: thin currentColor dashed;
    content: "";
}
aside.main img {
    margin: 0 0 0 auto;
}
aside.main a[href] {
    border: none;
    text-decoration: none;
}

/* SECTIONING */

aside {
    font-weight: 100;
}
section {
    margin: 1.5pc 0;
}
footer {
    text-align: right;
}
blockquote > footer {
    font-weight: 300;
}

/* BLOCKS */

blockquote {
    margin: 1.5pc 1.25pc;
    font-weight: 100;
}
figure, iframe, img {
    display: block;
    margin: 0 auto;
    border: none;
    padding: 0;
    max-width: 100%;
}
figure {
    margin: 1.5pc auto;
}
figcaption {
    margin: 0;
    padding: 0;
    font-size: .9375pc;
    font-weight: 100;
    line-height: 1.125pc;
    text-align: right;
}
figcaption:last-child {
    margin: 0 .375pc;
}
figcaption:last-child {
    margin: .375pc 0 0;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    color: #51555c;
    font-weight: 400;
}
h1 {
    color: inherit;
    font-size: 7.5pc;
    font-weight: 100;
    line-height: 9pc;
}
h2 {
    margin: 0 0 1.5pc;
}
h2::after {
    content: ":";
}
h3 {
    text-decoration: underline;
}
h3::after {
    content: ":";
}
hr {
    display: block;
    position: relative;
    margin: 0;
    border: none;
    padding: 0;
    width: 100%;
    height: 1.5pc;
    color: inherit;
    background: none;
    overflow: hidden;
}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img, p img, li img, dt img, dd img {
    display: inline-block;
    margin: 0 .125em;
    border: none;
    padding: none;
    max-height: .7em;
    max-width: none;
    width: auto;
}
p {
    position: relative;
    margin: 0;
    padding: 0;
}
p + p {
    text-indent: 2.5pc;
}
p + p::before {
    display: block;
    position: absolute;
    top: 0;
    left: 1.25pc;
    color: #d6dae0;
    text-indent: 0;
    content: "¶";
}
blockquote p::before {
    content: open-quote;
}
blockquote p:not(:last-of-type)::after {
    content: no-close-quote;
}
blockquote p:last-of-type::after {
    content: close-quote;
}

/* TABLES */
table {
    margin: 0 auto;
    border: none;
    padding: 0;
}
thead, tbody, tfoot, td, tr {
    margin: 0;
    padding: 0;
}
thead {
    color: #51555c;
    text-align: center;
}
tbody {
    text-align: left;
}
tfoot {
    text-align: right;
}

/* LISTS */

ul, ol {
    margin: 0;
    padding: 0 0 0 2.5pc;
}
ul {
    list-style-type: circle;
}
nav ul {
    list-style-type: none;
}
li ul {
    list-style-type: square;
}
li li ul {
    list-style-type: disc;
}
li li li ul {
    list-style-type: circle;
}
li li li li ul {
    list-style-type: square;
}
ol {
    list-style-type: upper-roman;
}
li ol {
    list-style-type: decimal-leading-zero;
}
li li ol {
    list-style-type: lower-latin;
}
li li li ol {
    list-style-type: lower-greek;
}
li li li li ol {
    list-style-type: decimal;
}
dl {
    margin: 1.5pc 0;
    padding: 0;
}
dt {
    font-weight: 400;
}
dt:after {
    content: " : ";
}
dd {
    margin: 0 0 0 2.5pc;
    padding: 0;
}

/* PHRASING */

a[href] {
    border-bottom: thin currentColor dashed;
    color: #51555c;
    background: transparent;
    text-decoration: none;
    transition: background .5s;
}
a[href]:hover {
    background: #d6dae0;
}
h1 a[href], h2 a[href], h3 a[href], h4 a[href], h5 a[href], h6 a[href] {
    color: inherit;
}
h1 a[href], nav a[href] {
    border: none;
    text-decoration: none;
}
strong a[href] {
    color: #8a3756;
}
b {
    color: #51555c;
    font-weight: inherit;
}
b::before {
    content: "#";
}
cite {
    font-style: inherit;
}
blockquote > cite {
    font-weight: 300;
}
code {
    color: #51555c;
}
code::before, code::after {
    content: "'";
}
del {
    color: #6b8f56;
    text-decoration: line-through;
}
dfn {
    font-style: inherit;
    font-weight: 400;
}
em {
    color: #51555c;
    font-style: inherit;
}
em::before, em::after {
    content: "~";
}
ins {
    color: #5984b9;
    text-decoration: underline;
}
mark {
    background: #d6dae0;
}
mark::selection {
    background: #a6acb1;
}
s {
    color: #a6acb1;
    text-decoration: line-through;
}
small {
    font-size: inherit;
    font-weight: 100;
}
strong {
    color: #bd5d79;
    font-weight: inherit;
}
sub, sup {
    line-height: 0;
}
sup {
    text-transform: uppercase;
}
u {
    color: #51555c;
    text-decoration: none;+
}

/* @SUPPORTS */

@supports (text-decoration-style: dotted) or (-moz-text-decoration-style: dotted) or (-webkit-text-decoration-style: dotted) {
    a[href], abbr {
        border: none;
    }
    *[title]:not([title=""]):not(a) {
        border: none;
        -webkit-text-decoration-line: underline;
        -webkit-text-decoration-style: dotted;
        -moz-text-decoration-line: underline;
        -moz-text-decoration-style: dotted;
        text-decoration-line: underline;
        text-decoration-style: dotted;
    }
    a[href] {
        -webkit-text-decoration-line: underline;
        -webkit-text-decoration-style: dashed;
        -moz-text-decoration-line: underline;
        -moz-text-decoration-style: dashed;
        text-decoration-line: underline;
        text-decoration-style: dashed;
    }
}
